[Unit]
Description=Weather Refresh
After=network.target

[Service]
Type=idle
User=arutz
Group=arutz
WorkingDirectory=/home/pi/WEATHER-EPD
ExecStart=/home/pi/virtualenv/weather-epd/bin/python3 /home/pi/WEATHER-EPD/weather-refresh-2in7.py 
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
