[Unit]
Description=Weather Refresh
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/Raspberry-Weather-EPD
ExecStart=/home/pi/virtualenv/weather-epd/bin/python3 /home/pi/Raspberry-Weather-EPD/weather-refresh-2in7.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
